* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.navbar {
    padding: 30px;
    height: 8.5vh;
    width: 100%;
    /* border-bottom:2px solid #000B58; */
    background-color: #5497ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: auto;
    width: 150px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 1.1rem;
}

.nav-links li a {
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 30px;
    text-align: center;
    color: black;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background-color: #aab2c8;
}

.username {
    background-color: #F5EFE6;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.hero-section {
    display: flex;
    height: 76vh;
    justify-content: center;
    align-items: center;
}

.details h1 {
    font-size: 3.5rem;
    position: relative;
    left: -100px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.details span {
    color: #320A6B;
}

.details p {
    position: relative;
    left: -100px;
    font-size: 1.2rem;
}

.details button {
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    border: none;
    background-color: #3396D3;
    width: 250px;
    position: relative;
    left: -100px;
    font-size: medium;
    font-weight: 700;
    transition: all 0.5s ease;
    cursor: pointer;
}

.details button:hover {
    transform: translateY(-5px);
    background-color: #2e8bc5;
}

.hero-image {
    height: 600px;
    position: relative;
    right: -80px;
}

.overview-section {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    padding: 10px;
    background-color: #A3CCDA;
    height: 15vh;
    align-items: center;
}

.overview-section h2 {
    font-size: 2rem;
}

.overview-section div h3 {
    font-size: 1.5rem;
}

.booking-section {
    padding: 70px;
    height: 100vh;
    width: 100vw;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-div {
    display: flex;
    background-color: #fff;
    height: 80vh;
    padding-right: 30px;
    border-radius: 30px;
}

.right-div {
    /* background-color: #fff; */
    height: 80vh;
    width: 30vw;
    /* border-radius: 30px; */
}

.services h3 {
    margin: 20px 0 0 25px;
    font-size: 1.5rem;
}

.services .instruction {
    margin: 10px 0 0 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.services-list div {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding: 25px 0;
}

.services-list {
    margin: 20px 0 0 10px;
    list-style: none;
}

.services-list button {
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: darkgreen;
    font-weight: 700;
    cursor: pointer;
}

.more-info {
    margin: 10px 0 0 25px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
    color: blue;
}

.more-info i {
    color: blue;
    margin-right: 5px;
}

li span {
    color: blueviolet;
    font-weight: 700;
}

table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.134);
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}



th {
    background: #f2f2f2;
}

.add {
    margin-left: 15px;
    padding: 10px 0;
    font-size: 1.5rem;
}

.cart {
    display: block;
    border-radius: 30px;
    background-color: #fff;
    height: 45vh;
}

#cartTable {
    margin: 0 auto;
    width: 95%;
    height: 75%;
}

.book-now {
    margin-top: 10px;
    border-radius: 30px;
    background-color: #fff;
    height: 34vh;
}

.totalPrice {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 1rem;
    color: green;
    position: sticky;
}

.book-now h3 {
    margin: 0 15px 0 15px;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
}

form {
    margin: 30px;
}

form div {
    display: flex;
    flex-direction: column;
}

#contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

input[type=text] {
    margin-bottom: 30px;
    height: 30px;
    padding: 5px;
}


input[type=email],
input[type=tel] {
    height: 30px;
    padding: 5px;
}

label {
    margin-bottom: 3px;
}

.book-now button {
    position: relative;
    left: 35%;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #2e8bc5;
    font-weight: 700;
    width: 150px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.book-now button:hover {
    transform: translateY(-5px);
    background-color: #3396D3;
}


#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column-reverse;
}

.toast {
    background-color: #fff;
    color: black;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border: 2px solid red;
}

.toast.show {
    opacity: 1;
}

.about-us {
    height: 45vh;
    padding: 100px;
}

.features-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
}

.features-container i {
    font-size: 350%;
    margin-bottom: 15px;
}

.features-container h2 {
    margin-bottom: 10px;
}

.newsletter {
    height: 30vh;
    padding: 50px;
    background-color: #2e8bc5;
}

.newsletter .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    text-align: center;
}

.newsletter form{
    align-items: start;
}

#name-news,
#email-news {
    height: 50px;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: azure;
    border: none;
}

.newsletter h2 {
    margin-right: 40px;
    font-size: 2.8rem;
    text-align: left;
    color: white;
}

.newsletter button {
    border: none;
    padding: 10px 60px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    position: relative;
    margin-top: -10px;
    margin-left: -420px;
    color: #2e8bc5;
    cursor: pointer;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    height: 35vh;
    align-items: center;
    background-color: #ccc;
}

.col1 img{
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

.footer-container h3{
    color: #320A6B;
    border-bottom: 1px solid gray;
    padding-bottom: 5px ;
}

.col1 p{
    margin-top: 10px;
}
.imp-links ul{
    list-style: none;
    margin-top: 5px;
}

.imp-links ul li{
    margin-bottom: 3px;
}

.imp-links ul li a{
    text-decoration: none;
    color: #3396D3;
}

.social-links h3{
    margin-bottom: 15px;
}

.social-links i{
    margin-right: 7px;
}

.contact ul li{
    margin-bottom: 5px;
}

.contact ul li a{
    padding: 10px;
    text-decoration: none;
}

.contact h3{
    margin-bottom:7px;
}