* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.navbar img {
    height: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 122, 122);
    padding: 0px 40px;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 45px;
}

a:hover{
    background-color:aquamarine ;
}

h4{
    background-color: azure;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
}
.hero{
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    position: relative;
    /* top: -10px; */
    left: -50px;
}
img{
    height: 700px;
    position: relative;
    /* top: -30px; */
    right: -80px;
}

h1{
    font-size: 4rem;
    line-height:0.9;
    margin-bottom: 30px;
}

p{
    font-size: 20px;
    margin-bottom: 40px;
    font-family: cursive;
}

span{
    color: rgb(14, 131, 131);
}

button{
    background-color: rgb(14, 131, 131);
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}